{
  "presets": [
    [
      "es2015",
      { "modules": false }
    ],
    "stage-2",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    [
      "flow-runtime",
      {
        "assert": true,
        "annotate": true
      }
    ],
    "react-hot-loader/babel"
  ]
}
