.SignInOrUp {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $gray50;
}

.SignInOrUp__container {
  flex: 0 0;
  width: 320px;
  padding: 4 * $spacing;
  background-color: $white;
  border: 1px solid $gray200;
  border-radius: 4px;
}

.SignInOrUp__heading {
  font-size: $font-size-lg;
  color: $gray900;
}

.SignInOrUp__oauthProviders {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: $spacing 0;

  &> .item {
    flex: 0 0;
    margin: 0 $spacing / 2;

    &:last-child {
      margin-right: 0;
    }
  }

  @mixin bg($color) {
    background-color: $color;
    transition: $transition-duration-base all;

    &:hover {
      background-color: lighten($color, 20%);
    }
  }

  &> .item > .link {
    $size: 32px;

    display: block;
    width: $size;
    height: $size;
    border-radius: $size / 2;
    line-height: $size;
    text-align: center;
    font-size: $font-size-lg; // FIXME

    &.github {
      @include bg($github);
    }

    &.twitter {
      @include bg($twitter);
    }

    &.facebook {
      @include bg($facebook);
    }

    &:link,
    &:visited {
      color: $white;
      text-decoration: none;
    }
  }
}

.SignInOrUp__separator {
  display: flex;
  align-items: center;
  font-size: $font-size-xs;
  color: $gray400;
  text-align: center;
  margin: 2 * $spacing 0;

  &:before,
  &:after {
    flex: 1 0;
    display: block;
    content: '';
    border-top: 1px solid $gray400;
  }

  &:before {
    margin-right: $spacing;
  }

  &:after {
    margin-left: $spacing;
  }
}

.SignInOrUp__form {
}

.SignInOrUp__field:not(:last-child) {
  margin-bottom: 1.5 * $spacing;
}

.SignInOrUp__textField {
  display: block;
  width: 100%;
  color: $gray900;
  border-radius: 4px;
  padding: $spacing;
  outline: none;
  border: 1px solid $gray300;
  color: $gray800;
  font-size: $font-size-sm;
  transition: $transition-duration-base all;

  &:focus {
    border-color: $a100;
  }
}

@mixin btn($color) {
  padding: $spacing;
  outline: none;
  border: 1px solid $color;
  border-radius: 4px;
  font-size: $font-size-sm;
  color: $color;
  text-align: center;
  background: none;
  transition: $transition-duration-base all;
  cursor: pointer;

  &:hover {
    color: $gray100;
    background-color: $color;
    border-color: $color;
  }
}

.SignInOrUp__submit {
  display: block;
  width: 100%;
  @include btn($a200);
}

.SignInOrUp__checkbox {
  $size: 16px;

  display: none;

  & + label {
    display: flex;
    align-items: center;
    color: $gray800;
    font-size: $font-size-sm;
    cursor: pointer;

    &:before {
      vertical-align: baseline;
      display: block;
      flex: 0 0 $size;
      width: $size;
      height: $size;
      line-height: $size;
      border-radius: 4px;
      border: 1px solid $gray400;
      margin-right: $spacing;
      text-align: center;
      color: $a200;
      font-size: $font-size-sm;
      font-family: 'FontAwesome';
      content: ' ';
    }
  }

  &:checked + label {
    &:before {
      content: '\f00c';
    }
  }
}

