@import 'font-awesome';
@import './vendor/**/*';

@import './settings/colors';
@import './settings/constants';

@import './pages/**/*';

* {
  box-sizing: border-box;
  line-height: $line-height-base;
}

:root {
  font-size: $font-size-base;
}

::before,
::after {
  box-sizing: inherit;
}
